body {
  padding-top: 50px;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 30px;
}

.move-emoji {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid;
  border-color: white;
  padding: 30px 30px;
  border-radius: 80px;
  margin: 10px;
}

.game-result {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
}

.score-card {
  margin-top: 50px;
  font-size: 20px;
}

.reset-button {
  padding: 8px 10px;
  font-size: 15px;
}

.play-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}